<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.invensense.casdk.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion= "14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/icon_contextual_awareness"
        android:label="@string/app_name" >
        <activity
            android:name=".TabOrganizer"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/CustomTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".MainActivity"
            android:label="Sensors" />
        <activity
            android:name=".CASDKUtilityActivity"
            android:label="Contextual Awareness"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HelpActivity"
            android:label="Help"
            android:screenOrientation="landscape" />
    </application>

</manifest>